@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: url(image/counter.jpeg);
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container{
    text-align: center;
    max-width: 1200px;
    overflow: auto;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.header{
    margin-bottom: 2em;
    font-size: 3em;
    letter-spacing: 10px;
}
.icon{
    font-size: 30px;
    color: #3498db;
}
h2{
    font-weight: bold;
    font-size: 4em;
}
p{
    font-size: 1em;
    color: #777;
}
.card{
    text-align: center;
    padding: 30px;
    margin: 5px;
    border: 1px solid;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width:992px){
    .header{
        font-size: 2em;
    }
    h2{
        font-size: 2.5em;
    }
}
@media(max-width:768px){
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .header{
        margin-bottom: 3em;
        font-size: 2em;
        letter-spacing: 5px;
    }
}
@media only screen and (max-width:600px){
    .wrapper{
      gap: 2px;
    }
    .header{
        
        font-size: 20px;
        letter-spacing: 3px;
    }
    .card{
        margin: 25px;
        padding: 25px;
    }
}

